:root {
  --color-cyan: hsl(185, 75%, 39%);
  --color-dark-blue: hsl(229, 23%, 23%);
  --color-blue: hsl(227, 10%, 46%);
  --color-dark-gray: hsl(0, 0%, 59%);

  --font-weight-normal: 400;
  --font-weight-heavy: 700;
}
body {
  background-color: var(--color-cyan);
  min-height: 100vh;
  display: grid;
  place-items: center;

  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
}
header,
footer {
  display: none;
}

.profile-card {
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  text-align: center;

  position: relative;
}
.profile__picture {
  position: absolute;
  top: 22%;
  left: 35%;
  border-radius: 50%;
  border: 5px solid white;

  width: 30.3%;
}

.profile__info {
  padding: 4rem 0 1.5rem 0;
  font-size: 1.25rem;
  font-weight: var(--font-weight-heavy);
}
.info__age {
  font-weight: var(--font-weight-normal);
  color: var(--color-dark-gray);
  margin-left: 0.25rem;
}
.info__city {
  font-weight: var(--font-weight-normal);
  color: var(--color-dark-gray);
  font-size: 1rem;
}
.profile__stats {
  display: flex;
  justify-content: space-around;
  padding: 1.5rem 1rem;
  border-top: 1px solid var(--color-dark-gray);
}
.category__amount {
  font-weight: var(--font-weight-heavy);
  font-size: 1.25rem;
}
.stats__category > p:nth-of-type(2) {
  color: var(--color-dark-gray);
  font-size: 0.75rem;
}
