:root {
  --color-cyan: hsl(185, 75%, 39%);
  --color-dark-blue: hsl(229, 23%, 23%);
  --color-blue: hsl(227, 10%, 46%);
  --color-dark-gray: hsl(0, 0%, 59%);

  --font-weight-normal: 400;
  --font-weight-heavy: 700;
}
body {
  background-color: var(--color-cyan);
  min-height: 100vh;
  display: grid;
  place-items: center;

  font-family: "Kumbh Sans", sans-serif;
}
header,
footer {
  display: none;
}

.profile-card {
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  text-align: center;
}
.profile__stats {
  display: flex;
  justify-content: space-around;
}
